* {
  box-sizing: border-box;
}
body {
  margin: 50px;
  font-size: 17px;
}

p {
  color: sienna;
  font-size: 20px;
  
  /* bold, weight normal */
  font-family: rubik bubbles,Helvetica, sans-serif;
  text-align: justify;
  /* center,Right,left,justify */
  /* text-transform: ; */
  /* uppercase, lowercase */
  /* letter-spacing: 4px;
  word-spacing: 10px; */
  /* line-height: 35px; */
  text-shadow: 1px 2px 10px green;
  /* pra direita / pra baixo / esfumaçamento / cor */

}

/* a {
  text-decoration: none;
  /* none,overline,underline,line-through */
/* }
a:hover {
  text-decoration: line-through;
} */ 
